<div class="container">

    <div>
        {{#each userPost as |post|}}

        <button id="edit-btn" class="dashboardBlogPost">

            <div class="postContainer">
                <h3>{{post.title}}</h3>
                <h3>{{post.created_date}}</h3>
            </div>

        </button>

        <div id="modal2" class="myModal">
            <div>
                <h1>Edit Post</h1>
            </div>

            <div>
                <form class="formContainer">
                    <label for="title2">Title</label><br>
                    <input id="title2" type="text" value="{{post.title}}"><br>

                    <label for="content2">Content</label><br>
                    <input id="content2" type="text" value="{{post.content}}"><br>
                </form>
            </div>

            <div id="currPost" data-id="{{post.id}}">
                <button id="submit-updated-btn" type="click">Update Post</button>
                <button id="delete-post-btn" type="click">Delete Post</button>
            </div>
        </div>

        {{/each}}

    </div>

    <div class="myModal" id="postModal">
        <div>
            <h1>Create New Post</h1>
        </div>

        <div>
            <form class="formContainer">
                <label for="title">Title</label><br>
                <input id="title" type="text"><br>

                <label for="content">Content</label><br>
                <input id="content" type="text"><br>
            </form>
        </div>

        <div>
            <button id="submit-btn" type="click">Create</button>
        </div>
    </div>

    <div class="createNewPost">

        <a id="new-post-btn" href="">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            New Post
        </a>

    </div>

</div>

<script src="/js/addPost.js"></script>
<script src="/js/editPost.js"></script>