<div class="container">

    <div>

        {{#each blogPost as |post|}}

        <a href="/blog/{{post.id}}">

            <div class="blogPost">
                <header>
                    <h2>{{post.title}}</h2>
                    <p>Posted by {{post.user.username}} on {{post.created_date}}</p>
                </header>
                <h3>{{post.content}}</h3>
            </div>

        </a>

        <div class="ratingContainer">

            <div class="blogRating">
                <a href="">
                    <span id="like-btn" class="material-symbols-outlined">
                        thumb_up
                    </span>
                </a>
                <span id="like-cnt">0</span>
            </div>

            <div class="blogRating">
                <a href="">
                    <span id="dislike-btn" class="material-symbols-outlined">
                        thumb_down
                    </span>
                </a>
                <span id="dislike-cnt">0</span>
            </div>

        </div>

        {{/each}}

    </div>

</div>

<script src="./js/rating.js"></script>